
[Unit]
Description=Atlassian  Service
After=
Wants=
Requires=

[Service]
Restart=on-failure
StartLimitInterval=20
StartLimitBurst=5
TimeoutStartSec=0
RestartSec=5
User=crowd
PIDFile=/opt/atlassian/crowd/apache-tomcat/work/catalina.pid
Environment="HOME=/opt/atlassian/crowd"
Environment="JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/"
ExecStart=/opt/atlassian/crowd/bin/start_crowd.sh
ExecStop=/opt/atlassian/crowd/bin/stop_crowd.sh

[Install]
WantedBy=multi-user.target
