
[Unit]
Description=Atlassian  Service
After=
Wants=
Requires=

[Service]
Restart=on-failure
StartLimitInterval=20
StartLimitBurst=5
TimeoutStartSec=0
RestartSec=5
User=fisheye
PIDFile=
Environment="HOME=/opt/atlassian/fisheye"
Environment="JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/"
ExecStart=/opt/atlassian/fisheye/bin/fisheyectl.sh start
ExecStop=/opt/atlassian/fisheye/bin/fisheyectl.sh stop

[Install]
WantedBy=multi-user.target
